#mainTitle{
    padding-left: .5em;
    margin-bottom: 0;
    font: bold 1.4em Calibri, Arial, Verdana, sans-serif;
}
#lessoncode{
    padding-left: .7em; 
    margin: .2em 0;
    font: 1em Calibri, Arial, Verdana, sans-serif;
}
#logo{
	right: .8em;
    top: .8em;
	width: 5em;
	height: 1em;
    position: absolute;
}
.lessonTitle{
	text-align: left;
	font-size: 1em;
	padding-left: 1.5em;
}
#homeButton{
	float: right;
}
.ui-li-thumb{
    margin-top: 1em;
    opacity: .8;
    position: absolute;
}
span{
	white-space: normal;
    font: bold 1.1em Calibri, Arial, Verdana, sans-serif;
}

.lesson .ui-btn-text .ui-li-desc {
    padding-top: .4em;
    padding-left: .5em;
	font: .9em Calibri, Arial, Verdana, sans-serif;
    white-space: normal;
}

.ui-block-a{
    height: 2em;   
}
.ui-input-text.ui-body-c{
	margin: .5em 0;
	padding: 0 .4em;
}

.ui-header .ui-title{
	text-align: left !important;
	/*min-height: 2.5em;*/
	font: bold 1.4em Calibri, Arial, Verdana, sans-serif !important;
    /*padding-right: .2em !important;
	padding-left: 1em !important;*/
	margin: .6em 2.5em !important;
	text-overflow: ellipsis !important;
}
#logButton, #menuButton{
    zoom: 1;   
}
#submit{
    width: 12em;   
}
.ui-icon-nodisc{
    zoom: 1.5;   
}
h1, h2, h3, h4, h5, h6, p{
    font-family: Calibri, Arial, Verdana, sans-serif !important;
}


<!-------------------------------- Windows Phone -------------------------------->
/*.ui-content{
    margin-top: 4em; 
    margin-bottom: 3em;
}
.ui-header.ui-bar-a, .ui-header.ui-bar-c{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
}
.ui-footer.ui-bar-a{
	position:fixed;
    bottom: 0;
    width: 100%;
   
}*/
